[submodule "oxen-server-bin"]
	path = oxen-server-bin
	url = https://github.com/NeroBlackstone/oxen-server-bin.git
[submodule "oxen-bin"]
	path = oxen-bin
	url = https://github.com/NeroBlackstone/oxen-bin.git
[submodule "numaplayer"]
	path = numaplayer
	url = https://github.com/NeroBlackstone/numaplayer.git
